<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="http://hd.huya.com/axletree-demo/css/index_62cd354.css">
	    <link rel="stylesheet" type="text/css" href="http://hd.huya.com/axletree-demo/css/widget_db676fc.css" />
	<script type="text/javascript" src="http://hd.huya.com/axletree-demo/js/lib/mod_2b1d325.js"></script>

	<script type="text/javascript">
		//将node同步输出的数据传递到window对象上
		var api1 = '<%- JSON.stringify(api1) %>';
	    api1 = JSON.parse(api1);
	</script>
</head>
<body>
<!-- <%- include template/header/header.tpl %> -->

<div class="list">
	<h1>第一屏：数据在node层请求完，同步输出</h1>
	<% if(api1.status && api1.status == 200 && api1.data) {
		var data = api1.data ? api1.data.slice(0,18) : [];
	%>
		<ul>
			<%- include('template/list/list.tpl', {lists: data}); %>
		</ul>
	<%}%>
</div>

<div class="list">
	<h1>第二屏：数据在js中使用ajax获取，异步输出</h1>
	<ul id="list"></ul>
</div>
<img src="http://hd.huya.com/axletree-demo/img/avatar_29f6668.png" alt="">

<%- include template/footer/footer.tpl %>

<script type="text/template" id="listTpl">
  <%- Util.Template('axletree-demo', 'list/list.tpl') %>
</script>

<script type="text/javascript" src="http://hd.huya.com/axletree-demo/js/index_9aa2b02.js" data-loader></script>
<!--RESOURCEMAP_PLACEHOLDER--> <!-- // data-loader 属性是 fis3-postpackager-loader 插件的配置 -->
<script type="text/javascript" src="http://hd.huya.com/axletree-demo/js/widget_f130487.js"></script>
<script type="text/javascript" src="http://hd.huya.com/axletree-demo/js/common_5c60eee.js"></script> <!-- // fis3-postpackager-loader 插件的配置 -->
<script type="text/javascript">
  require('app.js');
</script>
</body>
</html>




